.flex-content{
    display: flex;
    gap: 20px;
    flex-direction: column;
    color: #fff;

    .heading{
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 8px;
    }
    
    .paragraph{
        font-size: 26px;
        line-height: 30px;
    }
}