footer{
    width: 100%;
    height: auto;
    position: relative;
    padding: 70px 55px;
    background-color: #000;

    
    .link,.net{
        color: #757575;
        margin: 0px 50px;
        cursor: pointer;
    }

    .footer-wrapper{
        display: flex;
        gap: 20px;
        margin: 30px 50px;

        .foot-box{
            width: calc(100% / 4);

            ul{
                li{
                    padding-bottom: 15px;
                    a{
                        text-decoration: none;
                        font-size: 13px;
                        color: #757575;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}